<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.CouponsMapper" >
  <resultMap id="BaseResultMap" type="com.Mai.pojo.Mybatis.Coupons" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="reduction" property="reduction" jdbcType="DOUBLE" />
    <result column="reduction_conditions" property="reductionConditions" jdbcType="DOUBLE" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="overtime" property="overtime" jdbcType="DATE" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="yes_no" property="yesNo" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, reduction, reduction_conditions, number, overtime, shop_id, yes_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coupons
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from coupons
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Mai.pojo.Mybatis.Coupons" >
    insert into coupons (id, name, reduction, 
      reduction_conditions, number, overtime, 
      shop_id, yes_no)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{reduction,jdbcType=DOUBLE}, 
      #{reductionConditions,jdbcType=DOUBLE}, #{number,jdbcType=INTEGER}, #{overtime,jdbcType=DATE}, 
      #{shopId,jdbcType=INTEGER}, #{yesNo,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.Mai.pojo.Mybatis.Coupons" >
    insert into coupons
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="reduction != null" >
        reduction,
      </if>
      <if test="reductionConditions != null" >
        reduction_conditions,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="overtime != null" >
        overtime,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="yesNo != null" >
        yes_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reduction != null" >
        #{reduction,jdbcType=DOUBLE},
      </if>
      <if test="reductionConditions != null" >
        #{reductionConditions,jdbcType=DOUBLE},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="overtime != null" >
        #{overtime,jdbcType=DATE},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="yesNo != null" >
        #{yesNo,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Mai.pojo.Mybatis.Coupons" >
    update coupons
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reduction != null" >
        reduction = #{reduction,jdbcType=DOUBLE},
      </if>
      <if test="reductionConditions != null" >
        reduction_conditions = #{reductionConditions,jdbcType=DOUBLE},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="overtime != null" >
        overtime = #{overtime,jdbcType=DATE},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="yesNo != null" >
        yes_no = #{yesNo,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Mai.pojo.Mybatis.Coupons" >
    update coupons
    set name = #{name,jdbcType=VARCHAR},
      reduction = #{reduction,jdbcType=DOUBLE},
      reduction_conditions = #{reductionConditions,jdbcType=DOUBLE},
      number = #{number,jdbcType=INTEGER},
      overtime = #{overtime,jdbcType=DATE},
      shop_id = #{shopId,jdbcType=INTEGER},
      yes_no = #{yesNo,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>