<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.Mai.pojo.Mybatis.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="itemname" property="itemname" jdbcType="VARCHAR" />
    <result column="itempice" property="itempice" jdbcType="DOUBLE" />
    <result column="ShopId" property="shopid" jdbcType="INTEGER" />
    <result column="goodsUpTim" property="goodsuptim" jdbcType="DATE" />
    <result column="goodsType" property="goodstype" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="popularity" property="popularity" jdbcType="REAL" />
    <result column="titleImage" property="titleimage" jdbcType="VARCHAR" />
    <result column="goodsBrand" property="goodsbrand" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itemname, itempice, ShopId, goodsUpTim, goodsType, state, popularity, titleImage, 
    goodsBrand
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Mai.pojo.Mybatis.Goods" >
    insert into goods (id, itemname, itempice, 
      ShopId, goodsUpTim, goodsType, 
      state, popularity, titleImage, 
      goodsBrand)
    values (#{id,jdbcType=INTEGER}, #{itemname,jdbcType=VARCHAR}, #{itempice,jdbcType=DOUBLE}, 
      #{shopid,jdbcType=INTEGER}, #{goodsuptim,jdbcType=DATE}, #{goodstype,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{popularity,jdbcType=REAL}, #{titleimage,jdbcType=VARCHAR}, 
      #{goodsbrand,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.Mai.pojo.Mybatis.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemname != null" >
        itemname,
      </if>
      <if test="itempice != null" >
        itempice,
      </if>
      <if test="shopid != null" >
        ShopId,
      </if>
      <if test="goodsuptim != null" >
        goodsUpTim,
      </if>
      <if test="goodstype != null" >
        goodsType,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="popularity != null" >
        popularity,
      </if>
      <if test="titleimage != null" >
        titleImage,
      </if>
      <if test="goodsbrand != null" >
        goodsBrand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itempice != null" >
        #{itempice,jdbcType=DOUBLE},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="goodsuptim != null" >
        #{goodsuptim,jdbcType=DATE},
      </if>
      <if test="goodstype != null" >
        #{goodstype,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="popularity != null" >
        #{popularity,jdbcType=REAL},
      </if>
      <if test="titleimage != null" >
        #{titleimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsbrand != null" >
        #{goodsbrand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Mai.pojo.Mybatis.Goods" >
    update goods
    <set >
      <if test="itemname != null" >
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itempice != null" >
        itempice = #{itempice,jdbcType=DOUBLE},
      </if>
      <if test="shopid != null" >
        ShopId = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="goodsuptim != null" >
        goodsUpTim = #{goodsuptim,jdbcType=DATE},
      </if>
      <if test="goodstype != null" >
        goodsType = #{goodstype,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="popularity != null" >
        popularity = #{popularity,jdbcType=REAL},
      </if>
      <if test="titleimage != null" >
        titleImage = #{titleimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsbrand != null" >
        goodsBrand = #{goodsbrand,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Mai.pojo.Mybatis.Goods" >
    update goods
    set itemname = #{itemname,jdbcType=VARCHAR},
      itempice = #{itempice,jdbcType=DOUBLE},
      ShopId = #{shopid,jdbcType=INTEGER},
      goodsUpTim = #{goodsuptim,jdbcType=DATE},
      goodsType = #{goodstype,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      popularity = #{popularity,jdbcType=REAL},
      titleImage = #{titleimage,jdbcType=VARCHAR},
      goodsBrand = #{goodsbrand,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>