<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.ItemsTypeMapper">
	<select id="queryItemsType" resultType="com.Mai.pojo.Mybatis.ItemsType">
		SELECT * FROM items_type WHERE id=#{id}
	</select>
</mapper>