<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.ItemsMapper" >
  <resultMap id="BaseResultMap" type="com.Mai.pojo.Mybatis.Items" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_goodsid" property="orderGoodsid" jdbcType="INTEGER" />
    <result column="order_user_id" property="orderUserId" jdbcType="INTEGER" />
    <result column="order_time" property="orderTime" jdbcType="DATE" />
    <result column="order_arrival_time" property="orderArrivalTime" jdbcType="DATE" />
    <result column="order_now_status" property="orderNowStatus" jdbcType="INTEGER" />
    <result column="order_receiving_address_id" property="orderReceivingAddressId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, order_goodsid, order_user_id, order_time, order_arrival_time, order_now_status, 
    order_receiving_address_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from items
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from items
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Mai.pojo.Mybatis.Items" >
    insert into items (id, order_no, order_goodsid, 
      order_user_id, order_time, order_arrival_time, 
      order_now_status, order_receiving_address_id
      )
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderGoodsid,jdbcType=INTEGER}, 
      #{orderUserId,jdbcType=INTEGER}, #{orderTime,jdbcType=DATE}, #{orderArrivalTime,jdbcType=DATE}, 
      #{orderNowStatus,jdbcType=INTEGER}, #{orderReceivingAddressId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Mai.pojo.Mybatis.Items" >
    insert into items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderGoodsid != null" >
        order_goodsid,
      </if>
      <if test="orderUserId != null" >
        order_user_id,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="orderArrivalTime != null" >
        order_arrival_time,
      </if>
      <if test="orderNowStatus != null" >
        order_now_status,
      </if>
      <if test="orderReceivingAddressId != null" >
        order_receiving_address_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderGoodsid != null" >
        #{orderGoodsid,jdbcType=INTEGER},
      </if>
      <if test="orderUserId != null" >
        #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=DATE},
      </if>
      <if test="orderArrivalTime != null" >
        #{orderArrivalTime,jdbcType=DATE},
      </if>
      <if test="orderNowStatus != null" >
        #{orderNowStatus,jdbcType=INTEGER},
      </if>
      <if test="orderReceivingAddressId != null" >
        #{orderReceivingAddressId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Mai.pojo.Mybatis.Items" >
    update items
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderGoodsid != null" >
        order_goodsid = #{orderGoodsid,jdbcType=INTEGER},
      </if>
      <if test="orderUserId != null" >
        order_user_id = #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=DATE},
      </if>
      <if test="orderArrivalTime != null" >
        order_arrival_time = #{orderArrivalTime,jdbcType=DATE},
      </if>
      <if test="orderNowStatus != null" >
        order_now_status = #{orderNowStatus,jdbcType=INTEGER},
      </if>
      <if test="orderReceivingAddressId != null" >
        order_receiving_address_id = #{orderReceivingAddressId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Mai.pojo.Mybatis.Items" >
    update items
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_goodsid = #{orderGoodsid,jdbcType=INTEGER},
      order_user_id = #{orderUserId,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=DATE},
      order_arrival_time = #{orderArrivalTime,jdbcType=DATE},
      order_now_status = #{orderNowStatus,jdbcType=INTEGER},
      order_receiving_address_id = #{orderReceivingAddressId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>