<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.ParameterMapper" >
  <resultMap id="BaseResultMap" type="com.Mai.pojo.Mybatis.Parameter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Parameter_name" property="parameterName" jdbcType="VARCHAR" />
    <result column="Sonid" property="sonid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, Parameter_name, Sonid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from parameter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from parameter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Mai.pojo.Mybatis.Parameter" >
    insert into parameter (id, Parameter_name, Sonid
      )
    values (#{id,jdbcType=INTEGER}, #{parameterName,jdbcType=VARCHAR}, #{sonid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Mai.pojo.Mybatis.Parameter" >
    insert into parameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parameterName != null" >
        Parameter_name,
      </if>
      <if test="sonid != null" >
        Sonid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parameterName != null" >
        #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="sonid != null" >
        #{sonid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Mai.pojo.Mybatis.Parameter" >
    update parameter
    <set >
      <if test="parameterName != null" >
        Parameter_name = #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="sonid != null" >
        Sonid = #{sonid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Mai.pojo.Mybatis.Parameter" >
    update parameter
    set Parameter_name = #{parameterName,jdbcType=VARCHAR},
      Sonid = #{sonid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>