<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.ShopResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.Mai.pojo.Mybatis.ShopResources" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="color" property="color" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gid, color
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_resources
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_resources
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Mai.pojo.Mybatis.ShopResources" >
    insert into shop_resources (id, gid, color
      )
    values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Mai.pojo.Mybatis.ShopResources" >
    insert into shop_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="color != null" >
        color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Mai.pojo.Mybatis.ShopResources" >
    update shop_resources
    <set >
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Mai.pojo.Mybatis.ShopResources" >
    update shop_resources
    set gid = #{gid,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>