<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.TotalTypeSonTypeMapper" >
  <resultMap id="BaseResultMap" type="com.Mai.pojo.Mybatis.TotalTypeSonType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="son_type_name" property="sonTypeName" jdbcType="VARCHAR" />
    <result column="father_typeid" property="fatherTypeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, son_type_name, father_typeid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from total_type_son_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from total_type_son_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Mai.pojo.Mybatis.TotalTypeSonType" >
    insert into total_type_son_type (id, son_type_name, father_typeid
      )
    values (#{id,jdbcType=INTEGER}, #{sonTypeName,jdbcType=VARCHAR}, #{fatherTypeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Mai.pojo.Mybatis.TotalTypeSonType" >
    insert into total_type_son_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sonTypeName != null" >
        son_type_name,
      </if>
      <if test="fatherTypeid != null" >
        father_typeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sonTypeName != null" >
        #{sonTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fatherTypeid != null" >
        #{fatherTypeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Mai.pojo.Mybatis.TotalTypeSonType" >
    update total_type_son_type
    <set >
      <if test="sonTypeName != null" >
        son_type_name = #{sonTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fatherTypeid != null" >
        father_typeid = #{fatherTypeid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Mai.pojo.Mybatis.TotalTypeSonType" >
    update total_type_son_type
    set son_type_name = #{sonTypeName,jdbcType=VARCHAR},
      father_typeid = #{fatherTypeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>