<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mai.dao.Mybatis.UserMapper" >
  <resultMap id="BaseResultMap" type="com.Mai.pojo.Mybatis.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="INTEGER" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_deliver_goods_id" property="userDeliverGoodsId" jdbcType="INTEGER" />
    <result column="user_head" property="userHead" jdbcType="VARCHAR" />
    <result column="user_integral" property="userIntegral" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, user_pwd, user_phone, user_email, user_deliver_goods_id, user_head, 
    user_integral
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Mai.pojo.Mybatis.User" >
    insert into user (id, user_name, user_pwd, 
      user_phone, user_email, user_deliver_goods_id, 
      user_head, user_integral)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=INTEGER}, #{userPwd,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userDeliverGoodsId,jdbcType=INTEGER}, 
      #{userHead,jdbcType=VARCHAR}, #{userIntegral,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.Mai.pojo.Mybatis.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userDeliverGoodsId != null" >
        user_deliver_goods_id,
      </if>
      <if test="userHead != null" >
        user_head,
      </if>
      <if test="userIntegral != null" >
        user_integral,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=INTEGER},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userDeliverGoodsId != null" >
        #{userDeliverGoodsId,jdbcType=INTEGER},
      </if>
      <if test="userHead != null" >
        #{userHead,jdbcType=VARCHAR},
      </if>
      <if test="userIntegral != null" >
        #{userIntegral,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Mai.pojo.Mybatis.User" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=INTEGER},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userDeliverGoodsId != null" >
        user_deliver_goods_id = #{userDeliverGoodsId,jdbcType=INTEGER},
      </if>
      <if test="userHead != null" >
        user_head = #{userHead,jdbcType=VARCHAR},
      </if>
      <if test="userIntegral != null" >
        user_integral = #{userIntegral,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Mai.pojo.Mybatis.User" >
    update user
    set user_name = #{userName,jdbcType=INTEGER},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_deliver_goods_id = #{userDeliverGoodsId,jdbcType=INTEGER},
      user_head = #{userHead,jdbcType=VARCHAR},
      user_integral = #{userIntegral,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>